* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Tw Cen MT (Body)";
}

button {
  background-color: #744343;
  color: white;
  padding: 10px 20px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a08345;
}

header {
  background-image: url("images/jamesroadhero.jpg");
  background-color: rgb(0, 255, 13);
  color: white;
  text-align: center;
  padding: 100px;
}

header img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: auto;
}

h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav {
  float: left;
  background-color: rgb(40, 54, 117);
  color: rgb(245, 245, 245);
  width: 30%;
  height: 400px;
  padding: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #76a8e0;
}

article {
  background-image: url("images/cat.jpg");
  background-size: cover;
  background-color: grey;
  float: left;
  width: 70%;
  height: 400px;
  padding: 30px;
}

aside {
  background-color: rgb(65, 118, 148);
  clear: both;
  padding: 30px;
}

aside ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

aside ul li a:hover {
  color: #76a8e0;
}

footer {
  background: #222;
  color: #eee;
  text-align: center;
  padding: 0.5em;
  font-size: 0.9em;
}
