/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */

/* 1.1 */
article {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}

/* 1.2 */
.style-me1 {
  color: red;
}

/* 1.3*/
#style-me2 {
  color: blue;
}

/* 1.4 */
.style-me1#style-me2 {
  color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */
/* 2.1 */
.my-descendants-are-styled p {
  background: red;
}

/* 2.2 */
.my-children-are-styled > p {
  background: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

.box {
  background-color: blueviolet;
  background-image: url("img1.png");
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 4px;
  border: 1px;
  padding: 5%;
  width: 60 vw;
  height: 50vw !important;
  border-style: solid;
  border-color: rgb(24, 13, 83);
  border-width: 10px;
  box-sizing: border-box;
  overflow: auto;
  outline: 10px;
  border-radius: 20%;
}

/* 2.3 the box is not responsive */

/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {
  position: absolute;
  top: 0px;
  background-color: aquamarine;
  left: 50px;
  right: 50px;
}

.position-relative {
  position: relative;
  background-color: darkkhaki;
}

.position-sticky {
  position: sticky;
  background-color: rgb(153, 11, 19);
  top: 5%;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
  color: red;
  font-size: 14px;
  line-height: 100%;
  font-weight: normal;
  font-family: "Bitcount Grid Single", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-transform: capitalize;
  text-decoration: underline;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */


a:link {
      color: rgb(75, 216, 204);
      font-size: 15px;
      font-weight: bold;
      text-decoration: underline;
    }

a:hover, a:active, a:focus {
      color: brown;
      font-size: 20px;
      font-weight: 900;
      text-decoration: overline;
    }

a:visited {
      color: rgb(42, 91, 165);
      font-size: 20px;
      font-weight: 900;
      text-decoration: overline;
      font-style:italic;
    }

/* VI. calc() */
/* Put styles for questions 1-3 here */

.calc-style {
  width: calc(100vw - 100px);
  background-color: lightgray;
}

.fixed-width-col  {
  width: calc(100vw - 350px);
  display: inline-block;
}

.fluid-col  {
  display: inline-block;
  width: 100%
}
