/*  Page design*/

.resume-page {
  height: 100vh;
  margin-left: auto;
  background: linear-gradient(#f05178, #fe86e3, #b6c870, #969393);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px 10px 10px 10px;
 font-family: Raleway, sans-serif;
}

.page-title {
  text-align: center;
  color: hsl(0, 0%, 98%);
  font-family: Raleway, sans-serif;
  font-size: 44px;
  font-weight: 700;
  padding-top: 20%;
}

h1 {
 color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-size: 60px;
  font-weight: 700;
}

h2 {
  color: hsl(0, 0%, 20%);;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  font-weight: 350;
}

h3 {
  color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-left: 20px;
}

h4 {
  color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-weight: bold;
  line-height: .5;
}

p {
  margin: 10px;
  padding-left: 20px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 20%);
} 

.ve-1 {
  margin-top: 15px;
  text-align: center;
  color: hsl(0, 0%, 98%);
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 500;
  padding-block: 30px 30px;
}

.ve-2 {
  text-align: center;
  color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-weight: 350
    
}

.personal {
  text-align:justify;  
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  color: hsl(0, 54%, 97%);
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* flex box */

.flex-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: rgba(255, 255, 255, .3); 
   width: 100%;
   padding: 10px 15px 10px 15px;
   margin-bottom: 10px;
   margin: right 5% auto
   margin: left 5% auto
} 

.flex-container  div {
  background-color: rgba(255, 255, 255, .5);
  padding: 15px 20px 15px 20px;
  margin: 10px;
  margin: right auto;
  border-radius: 10px;
  padding-block: 5px 5px 5px 5px
  width: 93%;
  line-height: 20px;
  font-size: 14px;
  }