/*  Page design*/

.resume-page {
  height: 100vh;
  margin-left: auto;
  background: linear-gradient(#f05178, #fe86e3, #b6c870, #969393);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px 10px 10px 10px;
 font-family: Raleway, sans-serif;
}

.page-title {
  text-align: center;
  color: hsl(0, 0%, 98%);
  font-family: Raleway, sans-serif;
  font-size: 44px;
  font-weight: 700;
  padding-top: 20%;
}

h1 {
 color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-size: 60px;
  font-weight: 700;
}

h2 {
  color: hsl(0, 0%, 20%);;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  font-weight: 350;
}

h3 {
  color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-left: 20px;
  margin-bottom: -1%
}

h4 {
  color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 600;
  /* font-weight: bold; */
  line-height: .5;
}

p {
  margin: 10px;
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-size: 5
  color:  hsl(0, 0%, 20%);
} 

.ve-1 {
  margin-top: 15px;
  text-align: center;
  color: hsl(0, 0%, 98%);
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 500;
  padding-block: 30px 30px;
}

.ve-2 {
  text-align: center;
  color: hsl(0, 0%, 20%);
  font-family: Raleway, sans-serif;
  font-weight: 200   
}

a:link {
      color: hsl(0, 0%, 98%);
      font-size: 15px;
      text-decoration: underline;
    }

.personal {
  text-align:center;   
  margin: 
  padding: 5px 20px 5px 20px;
  /* background-color: rgba(255, 255, 255, .5); */
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 500;
} 

.flex-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: rgba(255, 255, 255, .3); 
   width: 97%;
   padding: 2%;
   border-radius: 10px;
   box-shadow: #969393 0px 0px 10px;
   
} 

.flex-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  margin: 20px; 10px; 20px; 10px;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: #969393;
  border-radius: 10px;
  width: 92%;
  line-height: 20px;
  font-size: 14px;
}

/* .background {} */



/* .flex-container  div {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, .5);
  padding: 10px 20px 15px 20px;
  padding:auto;
  box-shadow: #969393 0px 0px 10px;
  margin: 20px; 
  margin: right auto;
  border-radius: 10px;
  width: 92%;
  line-height: 20px;
  font-size: 14px;
  } */